# 5.1 Print
Perintah ini akan mencetak tulisan yang ada di dalam tanda print(" ") atau print(' ')

In [1]:
print('Absen Agama Kristen')

Absen Agama Kristen

In [2]:
print("Absen Agama Kristen")

Absen Agama Kristen

In [3]:
print('Pertemuan Pertama')

Pertemuan Pertama

In [5]:
print('Rehuella Desta Christy')

Rehuella Desta Christy

In [10]:
print('2108541010')

2108541010

In [9]:
print('Kelas A')

Kelas A

In [12]:
mahasiswa = 40
uang_di_bank = 1000000
print(mahasiswa)
print(uang_di_bank)
print(mahasiswa*uang_di_bank)

40
1000000
40000000

In [1]:
nama_depan ='Jethro '
nama_tengah ='Eleazar '
nama_belakang = 'Attapary'
print(nama_depan + nama_tengah + nama_belakang)

Jethro Eleazar Attapary

In [2]:
nama_depan ='Rehuella '
nama_tengah ='Desta '
nama_belakang = 'Christy'
print(nama_depan + nama_tengah + nama_belakang)

Rehuella Desta Christy

In [3]:
mahasiswa = 2021
dengan_nim = 2108541010
print(mahasiswa)
print(dengan_nim)

2021
2108541010

In [7]:
nama = 'Rehuella Desta Christy '
program_studi = 'Matematika '
dengan_nim = '2108541010'
kelas = ' Matematika A.'
print(nama + program_studi + dengan_nim + kelas)

Rehuella Desta Christy Matematika 2108541010 Matematika A.

In [8]:
print(nama + kelas + dengan_nim)

Rehuella Desta Christy  Matematika A.2108541010

In [9]:
print("berapa nim nya? "+ dengan_nim)

berapa nim nya? 2108541010

# 5.2 Input
Perintah input digunakan jika kita ingin mendapatkan informasi dari pengguna

In [10]:
nama = input("Siapakah nama anda?")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama +"? ")
print("Semangat "+ kegiatan +" nya yah, " + nama + "!")

Siapakah nama anda?Rehuella Desta Christy
Apakah kegiatan anda sekarang, Rehuella Desta Christy? Belajar
Semangat Belajar nya yah, Rehuella Desta Christy!

In [14]:
nama = input("Siapakah nama anda? ")
status = input("Apa status anda sekarang, " + nama +"? " )
mahasiswa = input("Mahasiswa dimana " + nama + "? ")
print(nama +" merupakan " + status +" di " + mahasiswa + ". ")

Siapakah nama anda? Rehuella Desta Christy
Apa status anda sekarang, Rehuella Desta Christy ? Mahasiswa
Mahasiswa dimana Rehuella Desta Christy ? Universitas Udayana
Rehuella Desta Christy  merupakan Mahasiswa di Universitas Udayana.

In [15]:
nama_lengkap = input("Siapakah nama lengkap anda? ")
nama = input("Siapa nama panggilan anda? ")
nim = input("Berapa nim kamu? ")
print(nama_lengkap + nama + " dengan nim " + nim )

Siapakah nama lengkap anda? Rehuella Desta Christy
Siapa nama panggilan anda? Rahel
Berapa nim kamu? 2108541010
Rehuella Desta ChristyRahel dengan nim 2108541010

# 5.3 Tipe Data pada Python
Terdapat tiga tipe data pada python

In [16]:
a = "Rahel"
print (a)

Rahel

In [21]:
d = 8**1
print(d)

8

In [22]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")

jumlah_bilangan = float(bilangan_satu) + float(bilangan_kedua)

print (jumlah_bilangan)

Masukkan bilangan pertama anda: 2
Masukkan bilangan kedua anda: 4
6.0

In [23]:
uang_di_dompet = input("Berapakah jumlah uang di dompe anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp "+ str(total_uang))

Berapakah jumlah uang di dompe anda? 50000
Berapakah jumlah uang anda di Bank? 1000000
Total uang anda adalah Rp 1050000

In [24]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")
bilangan_ketiga = input ("Masukkan bilangan ketiga anda: ")

jumlah_bilangan = float(bilangan_satu) + float(bilangan_kedua) + float(bilangan_ketiga)

print (jumlah_bilangan)

Masukkan bilangan pertama anda: 2
Masukkan bilangan kedua anda: 4
Masukkan bilangan ketiga anda: 6
12.0

In [25]:
tahun_sekarang = input("Tahun berapa sekarang? ")
tahun_lahir = input("Tahun berapa anda lahir? ")
umur_sekarang = int(tahun_sekarang) - int(tahun_lahir)
print("Umur anda sekarang adalah "+ str(umur_sekarang))

Tahun berapa sekarang? 2022
Tahun berapa anda lahir? 2003
Umur anda sekarang adalah 19

In [26]:
nama = input("Siapa nama anda? ")
awal_kuliah = input("Tahun berapa kuliah? ")
tahun_lulus = input("Tahun berapa anda akan lulus? ")
tahun_kuliah = int(tahun_lulus) - int(awal_kuliah)
print((nama) + " akan lulus kuliah "+ str(tahun_kuliah) + " tahun lagi, semangat! ")

Siapa nama anda? Rahel
Tahun berapa kuliah? 2021
Tahun berapa anda akan lulus? 2025
Rahel akan lulus kuliah 4 tahun lagi, semangat!

# Latihan
Buat program penjumlahan dua bilangan dengan menggunakan perintah INPUT dan PRINT.

In [31]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")

jumlah = float(bilangan_satu) + float(bilangan_kedua)

print("Jumlah kedua bilangan adalah " + str (jumlah))

Masukkan bilangan pertama anda: 20
Masukkan bilangan kedua anda: 40
Jumlah kedua bilangan adalah 60.0

In [32]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")
bilangan_ketiga = input ("Masukkan bilangan ketiga anda: ")

jumlah_bilangan = float(bilangan_satu) + float(bilangan_kedua) + float(bilangan_ketiga)

print (jumlah_bilangan)

Masukkan bilangan pertama anda: 25
Masukkan bilangan kedua anda: 35
Masukkan bilangan ketiga anda: 40
100.0

In [33]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")
bilangan_ketiga = input ("Masukkan bilangan ketiga anda: ")

jumlah_bilangan = float(bilangan_satu) + float(bilangan_kedua) + float(bilangan_ketiga)

print ("Jumlah ketiga bilangan adalah " + str(jumlah_bilangan))

Masukkan bilangan pertama anda: 100
Masukkan bilangan kedua anda: 250
Masukkan bilangan ketiga anda: 50
Jumlah ketiga bilangan adalah 400.0

# 5.4 Formatted String
Formatted string digunakan untuk mempermudah penulisan nilai variabel yang ingin dicetak pada perintah print.

In [1]:
nama = input("Nama anda adalah ")
pekerjaan = input("status anda adalah ")
institusi = input("Institusi anda adalah ")

print("Nama saya adalah " + nama +". Saya bekerja sebagai "+ pekerjaan +" di "+ institusi + ".")

Nama anda adalah Rahel
status anda adalah mahasiswa
Institusi anda adalah Unversitas Uadayana
Nama saya adalah Rahel. Saya bekerja sebagai mahasiswa di Unversitas Uadayana.

In [2]:
print(f"Nama saya adalah {nama}. Saya bekerja sebagai {pekerjaan} di {institusi}. ")

Nama saya adalah Rahel. Saya bekerja sebagai mahasiswa di Unversitas Uadayana.

In [3]:
nama = "Susan"
pekerjaan = 'Dokter'
institusi = 'RS Sanglah'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi +'.')

Susan adalah seorang Dokter di RS Sanglah.

In [4]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Susan adalah seorang Dokter di RS Sanglah.

In [12]:
nama = "Rehuella Desta Christy"
nim = '2108541010'
kelas = 'Matematika A'
matkul = 'Algoritma dan Struktur Data'
print(nama + ' dengan nim ' + nim + ' di ' + matkul +'.')

Rehuella Desta Christy dengan nim 2108541010 di Algoritma dan Struktur Data.

In [13]:
print(f'saya {nama} dengan nim {nim} dan kelas {kelas} izin mengumpulkan tugas {matkul} terimakasi.')

saya Rehuella Desta Christy dengan nim 2108541010 dan kelas Matematika A izin mengumpulkan tugas Algoritma dan Struktur Data terimakasi.

# 5.5 Strings Index
Variabel berupa string dapat diurutkan dengan index yang dimulai dari 0.

In [5]:
kelas = 'ini kelas algoritma'

In [6]:
print(kelas [0:20])

ini kelas algoritma

In [11]:
print(kelas[4:-5])

kelas algo

In [13]:
print(kelas[7:-1:4])

ali

In [14]:
print(kelas[:])

ini kelas algoritma

In [16]:
universitas = 'udayana'

In [17]:
print(universitas[:])

udayana

In [21]:
nama = 'Rehuella Desta Christy'
nim = '2108541010'

In [22]:
print(nama + nim [:])

Rehuella Desta Christy2108541010

In [23]:
print((nama ) + " " + nim [7:])

Rehuella Desta Christy 010

# 5.6 Strings Methods
Ada beberapa methoda yang banyak digunakan pada variabel berjenis string.

In [24]:
judul = 'candy shop'

In [25]:
print(len(judul))

10

In [26]:
judul.upper()

'CANDY SHOP'

In [27]:
judul.find('shop')

6

In [28]:
judul.lower()

'candy shop'

In [29]:
print('candy' in judul)

True

In [30]:
print('Shop' in judul)

False

# 5.7 Operasi Matematika di Python
Terdapat operasi matematika di Python.

In [32]:
print(10+20)
print(15-5)
print(2*2)
print(7/2)
print(7//3)
print(7%3)
print(2**4)
x=3
x+=1
print(x)
x-=2
print(x)
x*=4
print(x)

30
10
4
3.5
2
1
16
4
2
8

In [33]:
x = 40
print(x)

40

In [34]:
x = x + 4
print(x)

44

In [35]:
x = x - 5
print(x)

39

In [38]:
x = x**3
print(x)

3518743761

In [37]:
x = x*1
print(x)

1521

In [39]:
x *=0
print(x)

0

In [41]:
x +=40
print(x)

60

In [42]:
x %=100
print(x)

60

In [43]:
x //= 2
print(x)

30

# 5.8 Operator Perbandingan di Python
Beberapa operator perbandingan pada python.

In [45]:
x = 4>1
print(x)
x = 3<6
print(x)
x = 3 >= 2
print(x)
x = 2 <= 3
print(x)

True
True
True
True

In [46]:
y = 3>4
print(y)
y = 3<2
print(y)
y = 2 == 3
print (y)

False
False
False

In [47]:
a = 10 > 8
print(a)

True

In [48]:
a = 10!=10
print(a)

False

# 5.9 Operator Logika di Python
Beberapa operator logika pada Python adalah and, or and not. Operator and akan bernilai True jika kedua nilainya adalah True, 
sedangkan operator or akan bernilai True jika salah satu nilainya adalah True. Operator not akan menghasilkan nilai berlawanan.

In [49]:
sayur_pepaya = 10
sayur_bayam =15
print(sayur_bayam > 8 and sayur_pepaya < 20)

True

In [50]:
print (sayur_bayam < 8 or sayur_pepaya < 20)

True

In [51]:
print(sayur_bayam < 8 or sayur_pepaya > 20)

False

In [52]:
print(not (sayur_bayam < 8 or sayur_pepaya > 20))

True

In [53]:
ayam = 15 
bebek = 20 
print(ayam < 15 and bebek > 10)

False

In [54]:
print(not (ayam > 17 or bebek > 19))

False

# 5.10 Operator if di Python
Operator if akan dijalankan apabila nilai variabel yang dijalankan adalah True.

In [56]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 85
Anda mendapatkan nilai A
Bagus sekali selamat

In [57]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 65
Anda mendapatkan nilai C
Lain kali musti lebih baik

In [58]:
nilai = float(input("Umur anda adalah "))
if nilai >= 25:
    print("Anda sudah dewasa")
elif nilai >= 17:
    print("Anda sudah remaja dan akan dewasa")
elif nilai >=5:
    print("Anda masih anak anak")

Umur anda adalah 19
Anda sudah remaja dan akan dewasa

# Latihan
Buatlah program yang merubah tinggi badan seseorang dari cm ke inci atau sebaliknya dari inci ke cm.

In [1]:
tinggi = float(input("Berapkah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")
if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

Berapkah tinggi anda? 160
Tingginya dalam cm atau inci? cm
Tinggi anda adalah 62.992160000000005 inci

In [5]:
tinggi = float(input("Berapkah tinggi Rahel? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")
if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi Rahel adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi Rahel adalah {tinggi} cm")

Berapkah tinggi Rahel? 159
Tingginya dalam cm atau inci? inci
Tinggi Rahel adalah 403.85978191571775 cm

# 5.11 While loop
While loop akan selalu dieksekusi selama nilainya True dan akan berhenti saat nilainya menjadi False.

In [1]:
a = 0 
while a < 10:
    print("Angka " + str(a)+" masih dibawah 10")
    a += 1

Angka 0 masih dibawah 10
Angka 1 masih dibawah 10
Angka 2 masih dibawah 10
Angka 3 masih dibawah 10
Angka 4 masih dibawah 10
Angka 5 masih dibawah 10
Angka 6 masih dibawah 10
Angka 7 masih dibawah 10
Angka 8 masih dibawah 10
Angka 9 masih dibawah 10

In [2]:
a = 0
while a < 7:
    print(a * '*')
    a += 1

*
**
***
****
*****
******

In [3]:
a = 0 
while a <= 5:
    print(str(a) + " kamu " + " pasti bisa. ")
    a += 1

0 kamu  pasti bisa.
1 kamu  pasti bisa.
2 kamu  pasti bisa.
3 kamu  pasti bisa.
4 kamu  pasti bisa.
5 kamu  pasti bisa.

In [6]:
a = 1 
while a < 2:
    print(str(a) + "Rehuella Desta Christy " + " dengan nim 2108541010")
    a += 1

1Rehuella Desta Christy  dengan nim 2108541010

In [7]:
a = 0
while a <= 7:
    print(a * '^')
    a += 1

^
^^
^^^
^^^^
^^^^^
^^^^^^
^^^^^^^

In [8]:
a = 0
while a <= 10:
    print(a * '+')
    a += 1

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
++++++++++